@model IEnumerable<Products>
@{
    ViewData["Title"] = "Home";
}

<form method="get" asp-action="index">
    <div class="align-content-center"> 
        <select name="companyName">  
            <option value="">All</option>
            @foreach (Companies company in ViewBag.Companies)
            {
                @if (company.Name == ViewBag.SelectedCompany) 
                {
                    <option value="@company.Name" selected>@company.Name</option>
                }
                else
                {
                    <option value="@company.Name">@company.Name</option>
                }
            }
        </select>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>

<br />

<div class="container">
    <div class="row">
        @foreach (Products product in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src="@product.Photo" class="card-img-top" alt="@product.ProductName">
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text">@(product.Description?.Length >= 60 ? product.Description.Substring(60) + "..." : product.Description)</p>
                    <a class="btn btn-primary" asp-action="productdetail" asp-controller="home" asp-route-productId="@product.Id">Go somewhere</a> 
                    <span class="text-end text-danger">$@product.Price</span>
                </div>
            </div>
            <br />
        }
    </div>
</div>